.terms-page{
    width:100%;
    padding:45px 25px 90px;
    background-color:#F9F6F0;
}
.terms-title{
    margin:0 0 55px;
    text-align:center;
    font-family:"Playfair Display",serif;
    font-size:clamp(36px,4vw,58px);
    font-weight:500;
    line-height:1.1;
    color:#211f1d;
}
.and{
    font-family:Montagu Slab;
    font-weight: 400;
}
.terms-content{
    width:100%;
    max-width:850px;
    margin:0 auto;
}
.terms-section{
    margin-bottom:30px;
}
.terms-section:last-child{
    margin-bottom:0;
}
.terms-section h2{
    margin:0 0 14px;
    font-family:"Playfair Display",serif;
    font-size:21px;
    font-weight:500;
    line-height:1.2;
    color:#211f1d;
}
.terms-section p{
    margin:0 0 18px;
    font-family:"Montserrat",sans-serif;
    font-size:14px;
    font-weight:400;
    line-height:1.45;
    color:#292623;
}
.terms-section p:last-child{
    margin-bottom:0;
}
.terms-page+.footer{
    margin-top:0;
}
@media screen and (max-width:802px){
    .terms-page{
        padding:40px 24px 70px;
    }
    .terms-title{
        margin-bottom:45px;
        font-size:40px;
    }
    .terms-section{
        margin-bottom:28px;
    }
    .terms-section h2{
        font-size:19px;
    }
    .terms-section p{
        font-size:13px;
        line-height:1.5;
    }
}
@media screen and (max-width:480px){
    .terms-page{
        padding:32px 18px 55px;
    }
    .terms-title{
        margin-bottom:38px;
        font-size:32px;
    }
    .terms-section{
        margin-bottom:25px;
    }
    .terms-section h2{
        margin-bottom:11px;
        font-size:18px;
    }
    .terms-section p{
        margin-bottom:15px;
        font-size:11px;
        line-height:1.5;
    }
}
@media screen and (max-width:370px){
    .terms-page{
        padding-left:14px;
        padding-right:14px;
    }
    .terms-title{
        font-size:29px;
    }
    .terms-section h2{
        font-size:17px;
    }
    .terms-section p{
        font-size:10px;
    }
}